@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap";

#table {
    margin-left: 0%;
    margin-right: 5%;
    width: 90%;
    height: 250px;
    border-color: #005585;
    padding: 20px;
    border-width: 2px;
    border-radius: 5px !important;

}

th,td {
    border: 2px solid #005585;
    border-style: groove;
}



.cd {
    margin-left: 2em;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    width: 15%;
    margin-top: 1em;
    margin-left: 5%;
    margin-right: 85%;
    color: #005585;
    background-color: transparent;
    border-left: 4px groove #005585;
    border-top: 4px groove gold;
    border-right: 4px groove #005585;
    border-bottom: 4px groove gold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cd1 {
    margin-left: 3%;
}

#trow {
    background-color: #005585;
    text-align: center;
}


#tcell1 {
    color: #ffc669;
    font-weight: bolder;
    font-family: "Roboto Slab", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    letter-spacing: 0.2em;
}

#tcell2 {
    color: #ffc669;
    font-weight: bolder;
    font-family: "Roboto Slab", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    letter-spacing: 0.2em;
}

#tcell3 {
    color: #ffc669;
    font-weight: bolder;
    font-family: "Roboto Slab", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    letter-spacing: 0.2em;
}

#tcell4 {
    color: #ffc669;
    font-weight: bolder;
    font-family: "Roboto Slab", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    letter-spacing: 0.2em;
}

#tcell5 {
    color: #ffc669;
    font-weight: bolder;
    font-family: "Roboto Slab", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    letter-spacing: 0.2em;
}

#tb1 {
    background-color: rgb(241, 255, 254);
    color: #005585;
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
}

#td1 {
    border-color: black;
    background-color: rgb(241, 255, 254);
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
}

@media only screen and (max-width: 800px) {
    #table {
        margin-left: 0%;
        width: 98%;
        height: 150px;
        table-layout: fixed;
    }

    .cd {

        font-weight: bolder;
        font-size: larger;
        text-align: center;
        margin-left: 1%;
        width: 40%;
    }

    .cd1 {
        margin-left: 1%;
        text-align: center;
        width: 35%;
    }

    #tcell1 {
        font-weight: bolder;
        font-size: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #tcell2 {
        font-weight: bolder;
        font-size: 9px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #tcell3 {
        font-weight: bolder;
        font-size: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #tcell4 {
        font-weight: bolder;
        font-size: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #tcell5 {
        font-weight: bolder;
        font-size: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #tb1 {
        font-size: 8px;
        font-weight: bold;
    }

    #td1{
        
        font-size: 8px;
    }
}