@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap";

#pp {
    margin-left: 2em;
    color: #005585;
    font-weight: bold;
    font-size: 20px;
    font-family: 'oswald', serif;
    letter-spacing: 0.2em;
    position: relative;
    text-decoration: none;
    padding: 0.5rem 0.25rem;
    transition: color 0.25s;
}


#pp:hover {
    color: rgb(246, 161, 101);

}

#pp::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #005585;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

#pp:hover::after {
    scale: 1 1;
}

#main {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(158, 192, 193);
    z-index: 1;

}

#nv2 {
    color: #005585;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0.1em;
    text-align: right;
    margin-right: 3%;
    margin-left: 2%;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    position: relative;
    text-decoration: none;
    transition: color 0.25s;
}

#dropdown {
    background-color: rgb(221, 237, 236);
    color: #005585;
    font-weight: bold;
    width: 100%;
    text-align: left;
    position: relative;
}

#nv2:hover {
    color:rgb(216, 110, 35); 
    position: relative;
}

#nv2::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #fefefe;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

#nv2:hover::after {
    scale: 1 1;
}

#dropdown:hover {
    background-color: #005585;
    color: rgb(246, 161, 101);
    font-weight: bold;
    border-radius: 10px;
}

@media only screen and (max-width: 986px) {
    #main {
        font-display: block;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    #pp {
        margin-left: 10%;
        margin-right: 10%;
    }


    #pp:hover {
        color: rgb(246, 161, 101);


    }

    #pp::after {
        position: absolute;
        content: "";
        inset: 0;
        background-color: #005585;
        scale: 1 0;
        z-index: -1;
        transition: 0.45s;
        border-radius: 10px;
    }

    #pp:hover::after {
        scale: 1 1;
    }

    #nv2 {
        color: #005585;
        font-weight: bold;
        text-align: left;
        margin-left: 2%;
        padding-left: 4%;
    }

    #nv2:hover {    
        color:rgb(216, 110, 35); 

    }


    #nv2::after {
        content: "";
        inset: 0;
        background-color: #fefefe;
        scale: 1 0;
        z-index: -1;
        transition: 0.45s;
        border-radius: 10px;
        padding-right: 2%;
        width: 40%;
        border: 2px solid #005585;
    }

    #nv2:hover::after {
        scale: 1 1;
    }

    #dropdown {
        background-color: rgb(221, 237, 236);
        color: #005585;
        font-weight: bold;
        width: 100%;
        text-align: left;
    }

    #dropdown:hover {
        background-color: #005585;
        color: rgb(246, 161, 101);
        font-weight: bold;
        transition: 0.26s;
        border-radius: 10px;
    }
}