@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap";;

#pp {
    margin-left: 2em;
    color: #005585;
    font-weight: bold;
    font-size: 20px;
    font-family: 'oswald',serif;
    letter-spacing: 0.2em;
}

#main {
    position: fixed;
    width: 100%;
    background-color: rgb(246, 161, 101); 
    z-index:1;
}

#nv1 {
    color: #005585;
    font-weight: bold;
    margin-left: 19%;
    font-family: monospace;
    letter-spacing: 0.1em;

}

#nv1:hover {
    background-color: #005585;
    color: rgb(246, 161, 101);

}

#nv2 {
    color: #005585;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0.1em;
}

#dropdown{
    background-color: rgb(219, 217, 217);
    color:#005585;
    font-weight: bold;
}
#nv2:hover {
    background-color: #005585;
    color: rgb(246, 161, 101);

}

#dropdown:hover {
    background-color: #005585;
    color: rgb(246, 161, 101);
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    #main {
        font-display: block;
        position: relative;
        width: 100%;
        z-index:1;
    }
    
    #pp{
        margin-left: 5%;
    }
    #nv1 {
        
        color: #005585;
        font-weight: bold;
        padding-left: 3%;
        width: 100%;
    }

    #nv1:hover {
        background-color: #005585;
        color: rgb(246, 161, 101);
        padding: 3%;
    }
    

    #nv2{
        color: #005585;
        font-weight: bold;
        margin-left: 0%;
        padding-left: 3%;
        width: 100%;
        text-align: left;

    }

    #nv2:hover {
        background-color: #005585;
        color: rgb(246, 161, 101);
        padding: 3%;
    }

}