#pp {
    margin-left: 2em;
    color: #005585;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 0.2em;
}

#main {
    position: fixed;
    width: 100%;
    background-color: rgb(246, 161, 101); 
    z-index:1;
    overflow:hidden
}

#nv1 {
    color: #005585;
    font-weight: bold;
    margin-left: 10%;
    font-family: monospace;
    letter-spacing: 0.1em;

}

#nv1:hover {
    background-color: #005585;
    color: rgb(246, 161, 101);

}

#nv2 {
    color: #005585;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0.1em;
}

#nv2:hover {
    background-color: #005585;
    color: rgb(246, 161, 101);

}

#dropdown:hover {
    background-color: #005585;
    color: rgb(246, 161, 101);
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    #main {
        display: flex;
        position: fixed;
        width: 100%;
        table-layout: fixed;
    }

    #nv1 {
        
        color: #005585;
        font-weight: bold;
        margin-left: 0%;
        padding-left: 3%;
        width: 100%;
        text-align: left;
    }

    #nv1:hover {
        background-color: #005585;
        color: rgb(246, 161, 101);
        padding: 3%;
    }
    

    #nv2{
        color: #005585;
        font-weight: bold;
        margin-left: 0%;
        padding-left: 3%;
        width: 100%;
        text-align: left;

    }

    #nv2:hover {
        background-color: #005585;
        color: rgb(246, 161, 101);
        padding: 3%;
    }

    #dropdown{
        width: 35%;
    }
}