@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap";


#bd {
    background: linear-gradient(50deg, rgb(230, 248, 248) 70%, rgb(228, 225, 225) 100%);
}

#p {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-size: large;
    font-style: normal;
    display: block;
    text-align: justify;
    margin-left: 1%;
    width: 98%;
    margin-top: 1%;
    opacity: 1;
    margin-bottom: 1%;
}

#cd1 {
    text-align: justify;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    border: 5px groove #005585;
    background-color: rgb(241, 255, 254);
    border-radius: 10px;
}

#cd1:hover {
    border: 5px groove #01510f;
}

.cd {
    border-radius: 10px;
}

.profile-container {
    width: 100%;
    height: 100%;
}

.profilepic {
    padding-top: 4%;
    width: 50%;
    margin-left: 20%;
    display: flex;
}

.profilephoto {
    padding-top: 6%;
    display: block;
    margin-left: 35%;
    width: 50%;
    height: 50%;
    position: sticky;
    margin-top: 1%;
    overflow: hidden;
}

#foot {
    padding-left: 50%;
    padding-bottom: 1%;
}

#fa {
    padding-top: 1%;
    font-size: 30px;
    fill: #005585;
}

#fa:hover {
    fill: rgb(224, 128, 60);
}

@media only screen and (max-width: 768px) {

    .profilephoto {
        height: 40%;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        display: block;
        padding-top: 1%;
    }

    .profilepic {

        width: 100%;
        margin-left: 0%;
    }

    #p {
        margin-top: 1em;
        display: block;
        align-items: center;
        margin-left: 2%;
        width: 95%;
        font-size: smaller;

    }

    #cd1 {
        margin-left: 1%;
        width: 98%;
        position: inherit;
    }

    #foot {
        padding-bottom: 2%;
        padding-left: 50%;
    }


}